<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Zeneszám létrehozás</title>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">

    <h3 class="pt-5">Ülés létrehozás</h3>

    <div class="row">
        <div class="col-md-4 mt-5">
            <form method="post"
                  th:action="@{/new/create}">
                <div class="form-group">
                    <label>Ülés létrehozása</label>
                </div>
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text"
                           id="id"
                           th:name="id"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="date">Dátum</label>
                    <input type="date"
                           id="date"
                           th:name="date"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="ules_type">Ülés Tipusa</label>
                    <input type="text"
                           id="ules_type"
                           th:name="ules_type"
                           class="form-control"
                           list="ules_type_l"
                    />
                    <datalist id="ules_type_l">
                        <option value="munkaterv_szerinti" />
                        <option value="rendkivuli" />
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="ules_jellege">Ülés Jellege</label>
                    <input type="text"
                           id="ules_jellege"
                           th:name="ules_jellege"
                           class="form-control"
                           list="ules_jellege_l"
                    />
                    <datalist id="ules_jellege_l">
                        <option value="nyilt" />
                        <option value="zart" />
                    </datalist>

                </div>
                <div class="form-group">
                    <label for="time">Idő</label>
                    <input type="time"
                           id="time"
                           th:name="time"
                           class="form-control"/>
                </div>

                <button class="btn btn-primary pt-2"
                        type="submit">Létrehoz
                </button>
                <a th:href="@{/}"
                   class="btn btn-secondary pt-2"
                   type="submit">Vissza a listához</a>
            </form>
        </div>
    </div>

</div>

<script>

</script>

</body>
</html>
